{% extends "base.html" %}
{% block title %}Colibri Funcup 2026{% endblock %}
{% block h1 %}Colibri Funcup 2026{% endblock %}
{% block style %}
div#ranking { display: none; }
div#stats { display: none; }

body:has(input#ranking:checked) div#ranking { display: block; }
body:has(input#stats:checked) div#stats { display: block; }

.toggle {
	margin: 0 0 1.5rem; box-sizing: border-box;
	display: flex; flex-flow: row nowrap;
	justify-content: center; align-items: stretch;
}

.toggle input {
  /*   width: 0; height: 0; position: absolute; left: -9999px; */
  display: none;
}

.toggle input + label {
		margin: 0; padding: .75rem 2rem; box-sizing: border-box;
		position: relative; display: inline-block;
		border: solid 1px #DDD; background-color: #FFF;
                line-height: 140%;
                text-align: center;
		box-shadow: 0 0 0 rgba(255,255,255,0);
		transition: 	border-color .15s ease-out, 
					color .25s ease-out, 
					background-color .15s ease-out,
					box-shadow .15s ease-out;
} 
.toggle input + label:first-of-type { border-radius: 6px 0 0 6px; border-right: none; }
.toggle input + label:last-of-type { border-radius: 0 6px 6px 0; border-left: none; }
.toggle input:hover + label { border-color: #213140;}
.toggle input:checked + label {
		background-color: #4B9DEA;
		color: #FFF;
		box-shadow:  0 0 10px rgba(#66B3FB, .5);
		border-color: #4B9DEA;
		z-index: 1;
	}

{% endblock %}
{% block content %}

<section>
<figure>
<iframe src="map.html" style="width:100%; aspect-ratio: 16/9;"></iframe>
<figcaption>Die bereits erflogenen Sektoren. Geht auch <a href="map.html">Vollbild</a> und auch <a href="map_all.html">mit <em>allen</em> Flugtracks</a>.</figcaption>
</figure>
</section>

{% if pilots %}

<section>
<h2>Rangliste</h2>

<div class="toggle">
<input type="radio" checked="checked" id="ranking" name="selection" /><label for="ranking">Normalster Flug</label>
<input type="radio" id="stats" name="selection"/><label for="stats">Statistiken</label>
</div>

<div id="ranking" style="overflow-x:auto">
<table class="striped">
<thead>
<tr>
<th>№</th>
<th></th>
<!-- <th class="text-right">⌚</th> -->
<th class="text-right">⏱️</th>
<th class="text-right">☁️</th>
<th class="text-right">▶️</th>
<th class="text-right">⏩</th>
<th class="text-right">🔼</th>
<th class="text-right">🔽</th>
<th class="text-right">|⟲-⟳|</th>
<th class="text-right">⌔</th>
<th class="text-right"><img src="static/dhv-xc.png" /></th>
<th class="text-right">Abweichung</th>
</tr>
</thead>
<tbody>

<tr>
	<td></td>
	<td style="font-weight: bold;">Max Musterpilot</td>
	<!-- <td class="text-right">{{ median_stats.prettystarttime }}</td> -->
	<td class="text-right">{{ median_stats.prettyflighttime }}</td>
	<td class="text-right">{{ median_stats.maxalt }} m</td>
	<td class="text-right">{{ median_stats.avgspeed }} km/h</td>
	<td class="text-right">{{ median_stats.maxspeed }} km/h</td>
	<td class="text-right">{{ median_stats.maxclimb }} m/s</td>
	<td class="text-right">{{ median_stats.minclimb }} m/s</td>
	<td class="text-right">{{ median_stats.drehueberschuss }}</td>
	<td class="text-right">{{ median_stats.sektoren_count }}</td>
	<td class="text-right">{{ median_stats.xcscore }} pt.</td>
	<td class="text-right">0%</td>
	<td></td>
</tr>


{% for p in pilots %}
<tr>
<td>{{ p.rank }}</td>
<td><a href="pilot{{p.pid}}.html">{{ p.name }}</a></td>
<!-- <td class="text-right">{{ p.best_flight.stats.prettystarttime }}</td> -->
<td class="text-right">{{ p.best_flight.stats.prettyflighttime }}</td>
<td class="text-right">{{ p.best_flight.stats.maxalt }} m</td>
<td class="text-right">{{ p.best_flight.stats.avgspeed }} km/h</td>
<td class="text-right">{{ p.best_flight.stats.maxspeed }} km/h</td>
<td class="text-right">{{ p.best_flight.stats.maxclimb }} m/s</td>
<td class="text-right">{{ p.best_flight.stats.minclimb }} m/s</td>
<td class="text-right">{{ p.best_flight.stats.sektoren_count }}</td>
<td class="text-right">{{ p.best_flight.stats.drehueberschuss }}</td>
<td class="text-right"><a href="https://de.dhv-xc.de/flight/{{ p.best_flight.IDFlight }}">{{ p.best_flight.stats.xcscore }} pt.</a></td>
<td class="text-right">{{ p.best_flight.stats.score }} %</td>
</tr>
{% endfor %}
</tbody></table>
</div>

<div id="stats" style="overflow-x:auto">
<table class="striped">
<thead>
<tr>
<th>№</th>
<th></th>
<th class="text-right">Schaui</th>
<th class="text-right">Linden</th>
<th class="text-right">⏱</th>
<th class="text-right">⟲</th>
<th class="text-right">⟳</th>
{# <th class="text-right">◎</th> #}
<th class="text-right">⌔</th>
<th class="text-right">🥾</th>
<th class="text-right">📷</th>
</tr>
</thead>
<tbody>
<tr>
	<td></td>
	<td style="font-weight: bold;">Max Musterpilot</td>
</tr>

{% for p in pilots %}
<tr>
<td>{{ p.rank }}</td>
<td><a href="pilot{{p.pid}}.html">{{ p.name }}</a></td>
<td class="text-right">{{ p.stats.schauiflights }}</td>
<td class="text-right">{% if p.stats.lindenflights %}{{ p.stats.lindenflights }}{% endif %}</td>
<td class="text-right">{{ p.stats.prettyflighttime }}</td>
<td class="text-right">{{ p.stats.left_turns }}</td>
<td class="text-right">{{ p.stats.right_turns }}</td>
{#
<td class="text-right">{{ p.stats.landepunkt1 }} / {{ p.stats.landepunkt2 }} / {{ p.stats.landepunkt3 }} </td>
#}
<td class="text-right">{{ p.stats.sektoren }}</td>
<td class="text-right">{% if p.stats.hikes %}{{ p.stats.hikes }}{% endif %}</td>
<td class="text-right">{% if p.stats.fotos %}{{ p.stats.fotos }}{% endif %}</td>
</tr>
{% endfor %}
</tbody></table>
</div>

{% else %}

<section class="row is-center">
<div class="col-6 card">
  <header>
  <h2>Noch keine Flüge</h2>
  </header>
  <p>Geh doch fliegen und sei der oder die Erste!</p>
</div>
</section>

{% endif %}

<section>
<h2>Info</h2>

<p>Dies ist der Funcup des <a href="https://gsccolibri.de/">GSC Colibri Freiburg e.V.</a>. Für Details zur Auswertung siehe die <a href="https://www.gsccolibri.de/wettkampf/funcup/">Ausschreibung</a>.
Die Sektoren können auch als <a href="./sektoren-airspace.txt">Luftraum-Datei im Airspace-Format</a> heruntergeladen werden.
Fragen werden im Slack-Kanal <tt>#funcup</tt> beantwortet.
Die Programmierung der Seite, erstellt von Joachim Breitner, kann auf <a href="https://github.com/nomeata/colibri-funcup-2026">GitHub</a> inspiziert werden.
</p>
</section>

<section>
<h2>Erklärung</h2>

<p>
Dieses Jahr dreht sich alles darum, wer den „normalsten“ Flug hatte. Wir berechnen, wie der typischste Schauinsland-Flug aussieht. Für jeden Piloten werten wir den Flug, der diesem idealtypischem Flug am nächsten kommt, und berechnen die Abweichung davon.
</p>

<p>
Im folgenden für die, die es genau wissen, die genaue Berechnung:
</p>

<p>
Für den idealtypischen Flug berechnen wir jede Kategorie einzeln als den <a href="https://de.wikipedia.org/wiki/Median">Median</a> aller in der Saison erflogenen Werte dieser Kategorie.
</p>

<p>
Die Abweichung eines konkreten Fluges davon ist das <a href="https://de.wikipedia.org/wiki/Quadratisches_Mittel">quadratische Mittel</a> der Abweichungen in den einzelnen Kategorien. Diese werden über die empirische Stichprobe berechnet: Ist der Wert im <i>x</i>ten <a href="https://de.wikipedia.org/wiki/Empirisches_Quantil#Perzentil">Perzentil</a>, so wird die Abweichung berechnet als <i>2×|x-50%|</i>. Daraus ergibt sich: Eine Abweichung von 0% heißt, dass man den Wert getroffen hat. Eine Abweichung von 100% heißt das man den extremsten (größten oder kleinsten) Wert erflogen hat. Eine Abweichung von 50% heißt dass man einen Wert erflogen hat, der größer (oder kleiner) als ¾ aller Werte ist.
</p>

<p>
Ein Vorteil dieser Berechnung, gegenüber einem direkten Vergleich der Werte, ist dass sich die Werte normieren und es in allen kategrien gleich „schwierig“ ist, eine bestimme Prozentzahl zu erreichen, da nur wichtig ist, im vergleich zu wie vielen anderen Flügen man näher dran ist.
</p>
</section>

<section>
<h2>Sonstige Statistiken</h2>

<p>Wer sind die größten und kleinsten Drehwürmer (ab 100 Kreisen)?</p>

<div style="overflow-x:auto" class="is-horizontal-align">
<table class="striped">
<thead>
<tr>
<th class="text-left">Kategorie</th>
<th class="text-left">Pilot</th>
<th class="text-right">Wert</th>
</tr>
</thead>
<tbody>
<tr>
<td>Ausgeglichensder Dreher (relativ)</td>
<td><a href="pilot{{turn_stats.least_rel_diff.1}}.html">{{ turn_stats.least_rel_diff.0 }}</a></td>
<td class="text-right">{{ turn_stats.least_rel_diff.2 | round | int }}%</td>
</tr>
<tr>
<td>Größter Linksdreher (relativ)</td>
<td><a href="pilot{{turn_stats.max_rel_diff_left.1}}.html">{{ turn_stats.max_rel_diff_left.0 }}</a></td>
<td class="text-right">{{ turn_stats.max_rel_diff_left.2 | round | int }}%</td>
</tr>
<tr>
<td>Größter Linksdreher (absolut)</td>
<td><a href="pilot{{turn_stats.max_abs_diff_left.1}}.html">{{ turn_stats.max_abs_diff_left.0 }}</a></td>
<td class="text-right">{{ turn_stats.max_abs_diff_left.2 | round | int }}</td>
</tr>
<tr>
<td>Größter Rechtsdreher (relativ)</td>
<td><a href="pilot{{turn_stats.max_rel_diff_right.1}}.html">{{ turn_stats.max_rel_diff_right.0 }}</a></td>
<td class="text-right">{{ turn_stats.max_rel_diff_right.2 | round | int }}%</td>
</tr>
<tr>
<td>Größter Rechtsdreher (absolut)</td>
<td><a href="pilot{{turn_stats.max_abs_diff_right.1}}.html">{{ turn_stats.max_abs_diff_right.0 }}</a></td>
<td class="text-right">{{ turn_stats.max_abs_diff_right.2 | round | int }}</td>
</tr>
</tbody></table>
</div>

</section>

{% endblock %}
