{% extends "base.html" %}
{% block title %}Colibri Funcup 2025 – {{name}}{% endblock %}
{% block h1 %}Colibri Funcup 2025 – {{name}}{% endblock %}
{% block content %}

<section>
<h2>Statistiken</h2>

<table>
<tbody>
  <tr><td>Flüge am Schauinsland</td><td class="text-right">{{ stats.schauiflights }}</td></tr>
  <tr><td>Flüge am Lindenberg</td><td class="text-right">{{ stats.lindenflights }}</td></tr>
  <tr><td>Flugzeit</td><td class="text-right">{{ stats.prettyflighttime }}</td></tr>
  <tr><td>Hike and fly</td><td class="text-right">{{ stats.hikes }}</td></tr>
  <tr><td>Fotos</td><td class="text-right">{{ stats.fotos }}</td></tr>
  <tr><td>Überflogene Sektoren</td><td class="text-right">{{ stats.sektoren }}</td></tr>
  <tr><td>Drehüberschuss {{ stats.drehrichtung}}</td><td class="text-right">{{ stats.drehueberschuss }}</td></tr>
</tbody>
<table>
</section>

<section>
<h2>Karte <a href="map{{pid}}.html">↪</a></h2>

<figure>
<iframe src="map{{ pid }}.html" style="width:100%; aspect-ratio: 16/9;"/></iframe>
<figcaption>Alle Flüge von {{name}}</figcaption>
</figure>
</section>

<section>
<h2>Flüge</h2>
<table class="striped">
<thead>
<tr>
<th class="text-right">№</th>
<th class="text-right">📆</th>
<th class="text-right">⏱</th>
<th class="text-right">☁️</th>
<th class="text-right">▶️</th>
<th class="text-right">⏩</th>
<th class="text-right">🔼</th>
<th class="text-right">🔽</th>
<th class="text-right">⟲</th>
<th class="text-right">⟳</th>
{# <th class="text-right">◎</th> #}
<th class="text-right">⌔</th>
<th class="text-right"></th>
<th class="text-right"></th>
<th class="text-right"><img src="static/dhv-xc.png" /></th>
<th class="text-right">Score</th>
<th class="text-right"></th>
</tr>
</thead>
<tbody>
{% for f in flights %}
<tr>
<td class="text-right">{{ f.n }}</td>
<td class="text-right">{{ f.datum }}</td>
<td class="text-right">{{ f.stats.prettyflighttime }}</td>
<td class="text-right">{{ f.stats.maxalt }} m</td>
<td class="text-right">{{ f.stats.avgspeed }} km/h</td>
<td class="text-right">{{ f.stats.maxspeed }} km/h</td>
<td class="text-right">{{ f.stats.maxclimb }} m/s</td>
<td class="text-right">{{ f.stats.minclimb }} m/s</td>
<td class="text-right">{{ f.stats.left_turns }}</td>
<td class="text-right">{{ f.stats.right_turns }}</td>
<td class="text-right">{{ f.neue_sektoren_anzahl }}</td>
<td class="text-center">{% if f.hike %}🥾{% endif %}</td>
<td class="text-center">{% if f.fotos %}📷{% endif %}</td>
<td class="text-right"><a href="{{f.url}}">{{ f.stats.xcscore }} pt.</a></td>
<td class="text-right">{{ f.stats.score }}%</td>
<td class="text-left">{% if f.is_best %}⭐{% endif %}</td>
</tr>
{% endfor %}
</tbody></table>
</section>

{% endblock %}
